<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="container mt-5" style="max-width: 400px">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" formControlName="username" id="username" class="form-control" placeholder="Enter your username">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" formControlName="email" id="email" class="form-control" placeholder="Enter your email">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" formControlName="password" id="password" class="form-control"
    placeholder="Enter your password">
  </div>

  <button type="submit" class="btn btn-primary w-100">Register</button>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</form>
